<div class="container pad-top">
  <a ui-sref="newTask" class="btn-primary btn-lg nodecoration">Add New Task</a>
  <table class="table tasktable">
      <tr>
          <td><h3>All Tasks</h3></td>
          <td></td>
      </tr>
      <tr ng-repeat="task in tasks">
          <td>{{task.name}}</td>
          <td>{{task.author}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewTask({id:task.id})">View</a>
              <a class="btn btn-danger"  ng-click="deleteTask(task)">Complete</a>
          </td>
      </tr>
  </table>
</div>
